fastapi
uvicorn
langchain
langchain-google-genai
pydantic
langchain-groq
langchain-openai
python-dotenv
chromadb
pypdf
python-multipart
langchain-community
sqlalchemy
sentence-transformers
langchain-huggingface